<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated whisky -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="whisky.presentation.WhiskyModelWizardID"
            name="%_UI_WhiskyModelWizard_label"
            class="whisky.presentation.WhiskyModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/WhiskyModelFile.gif">
         <description>%_UI_WhiskyModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated whisky -->
      <editor
            id="whisky.presentation.WhiskyEditorID"
            name="%_UI_WhiskyEditor_label"
            icon="icons/full/obj16/WhiskyModelFile.gif"
            extensions="whisky"
            class="whisky.presentation.WhiskyEditor"
            contributorClass="whisky.presentation.WhiskyActionBarContributor">
      </editor>
   </extension>

</plugin>
